<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="ontoparser"
   name="OntoParser"
   version="1.0.0"
   provider-name="Algito">


   <runtime>
      <library name="ontoparser.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
   </requires>

   <extension      id="org.apache.nutch.indexer.ontoparser"
                    name="OntoParser"
                    point="org.apache.nutch.indexer.IndexingFilter">
   <implementation id="indexer-ontoparser"
                    class="org.apache.nutch.indexer.ontoparser.OntoParser"/>
   </extension>
</plugin>